<AttributeTable>
    <Attribute name="ACTOR_ANGLE_SPINE_MAX" value="70.000000" type="float" />
    <Attribute name="ACTOR_ANGLE_SPINE_MIN" value="-50.000000" type="float" />
    <Attribute name="ACTOR_ANGLE_Y_HEAD_MAX" value="7.000000" type="float" />
    <Attribute name="ACTOR_ANGLE_Y_HEAD_MIN" value="-7.000000" type="float" />
    <Attribute name="ACTOR_ANGLE_Z_HEAD_MAX" value="46.000000" type="float" />
    <Attribute name="ACTOR_ANGLE_Z_HEAD_MIN" value="-46.000000" type="float" />
    <Attribute name="ACTOR_DEFAULT_VELOCITY" value="700.000000" type="float" />
    <Attribute name="ACTOR_DISC_RADIUS_HORSE" value="13.000000" type="float" />
    <Attribute name="ACTOR_DISC_RADIUS_HUMAN" value="13.000000" type="float" />
    <Attribute name="ACTOR_DISTANCE_EVENT_ANIMATION_MARKER" value="400.000000" type="float" />
    <Attribute name="ACTOR_HIGH_VELOCITY" value="200.000000" type="float" />
    <Attribute name="ACTOR_LIMIT_ANGLE_Z_HEAD" value="100.000000" type="float" />
    <Attribute name="ACTOR_LOW_VELOCITY" value="30.000000" type="float" />
    <Attribute name="ACTOR_SIZE_PATHFINDER" value="15.000000" type="float" />
    <Attribute name="ACTOR_SKIP_COLLISION_BOX_CHECK" value="0.000000" type="float" />
    <Attribute name="ACTOR_SMOOTH_TURN_FAST" value="600.000000" type="float" />
    <Attribute name="ACTOR_SMOOTH_TURN_SLOW" value="400.000000" type="float" />
    <Attribute name="ACTOR_SMOOTH_TURN_VERY_SLOW" value="300.000000" type="float" />
    <Attribute name="ACTOR_SPEECH_ANIMATION_FACTOR" value="6.000000" type="float" />
    <Attribute name="ACTOR_SPEED_ANGLE_Y_HEAD" value="80.000000" type="float" />
    <Attribute name="ACTOR_SPEED_ANGLE_Z_HEAD" value="160.000000" type="float" />
    <Attribute name="ACTOR_TRANSITIONS_SPEEDUP" value="1.000000" type="float" />
    <Attribute name="ACTOR_TURN_ANIMATION_DEAD_ANGLE" value="10.000000" type="float" />
    <Attribute name="ACTOR_VERY_LOW_VELOCITY" value="20.000000" type="float" />
    <Attribute name="ACTOR_VIBRATION_ANGLE_X_MAX" value="1.000000" type="float" />
    <Attribute name="ACTOR_VIBRATION_ANGLE_Y_MAX" value="1.000000" type="float" />
    <Attribute name="ACTOR_VIBRATION_ANGLE_Z_MAX" value="1.000000" type="float" />
    <Attribute name="ACTOR_VIBRATION_POSITION_X_MAX" value="0.500000" type="float" />
    <Attribute name="ACTOR_VIBRATION_POSITION_Y_MAX" value="0.500000" type="float" />
    <Attribute name="ACTOR_VIBRATION_POSITION_Z_MAX" value="0.500000" type="float" />
    <Attribute name="ACTOR_VIBRATION_TURN_MAX" value="1.000000" type="float" />
    <Attribute name="APPLICATION_LOCALE" value="en" type="string" />
    <Attribute name="APPLICATION_LOG_LEVEL" value="0" type="slong" />
    <Attribute name="APPLICATION_LOG_LEVEL_SCRIPT" value="0" type="slong" />
    <Attribute name="AUDIO_AMBIENTFX_VOLUME" value="50" type="slong" />
    <Attribute name="AUDIO_CUTSCENE_VOLUME" value="50" type="slong" />
    <Attribute name="AUDIO_GUIFX_VOLUME" value="50" type="slong" />
    <Attribute name="AUDIO_MUSIC_VOLUME" value="50" type="slong" />
    <Attribute name="AUDIO_SOUNDFX_VOLUME" value="50" type="slong" />
    <Attribute name="AUDIO_SPEECH_VOLUME" value="50" type="slong" />
    <Attribute name="CAMERA_ANGLE_Y_PLAYER_DEFAULT" value="20.000000" type="float" />
    <Attribute name="CAMERA_ANGLE_Y_PLAYER_MAX" value="60.000000" type="float" />
    <Attribute name="CAMERA_ANGLE_Y_PLAYER_MIN" value="-40.000000" type="float" />
    <Attribute name="CAMERA_ANGLE_Y_TACTICAL" value="40.000000" type="float" />
    <Attribute name="CAMERA_CENTER_PLAYER_CROUCHED" value="10.000000" type="float" />
    <Attribute name="CAMERA_CENTER_PLAYER_DEFAULT" value="0.000000" type="float" />
    <Attribute name="CAMERA_CENTER_PLAYER_LYING" value="20.000000" type="float" />
    <Attribute name="CAMERA_CENTER_PLAYER_RIDING" value="-20.000000" type="float" />
    <Attribute name="CAMERA_CENTER_PLAYER_SNIPING" value="10.000000" type="float" />
    <Attribute name="CAMERA_DISTANCE_PLAYER_CROUCHED" value="60.000000" type="float" />
    <Attribute name="CAMERA_DISTANCE_PLAYER_DEFAULT" value="60.000000" type="float" />
    <Attribute name="CAMERA_DISTANCE_PLAYER_LYING" value="35.000000" type="float" />
    <Attribute name="CAMERA_DISTANCE_PLAYER_RIDING" value="80.000000" type="float" />
    <Attribute name="CAMERA_DISTANCE_SHOOT_DEFAULT" value="40.000000" type="float" />
    <Attribute name="CAMERA_ELEVATION_PLAYER_CROUCHED" value="5.000000" type="float" />
    <Attribute name="CAMERA_ELEVATION_PLAYER_DEFAULT" value="20.000000" type="float" />
    <Attribute name="CAMERA_ELEVATION_PLAYER_LYING" value="-15.000000" type="float" />
    <Attribute name="CAMERA_ELEVATION_PLAYER_RIDING" value="40.000000" type="float" />
    <Attribute name="CAMERA_ELEVATION_PLAYER_SNIPING" value="0.000000" type="float" />
    <Attribute name="CAMERA_ELEVATION_SHOOT_CROUCHED" value="10.000000" type="float" />
    <Attribute name="CAMERA_ELEVATION_SHOOT_DEFAULT" value="50.000000" type="float" />
    <Attribute name="CAMERA_ELEVATION_SHOOT_RIDING" value="60.000000" type="float" />
    <Attribute name="CAMERA_ELEVATION_SHOOT_SNIPING" value="-5.000000" type="float" />
    <Attribute name="CAMERA_FOV_PLAYER" value="70.000000" type="float" />
    <Attribute name="CAMERA_FOV_SHOOT" value="75.000000" type="float" />
    <Attribute name="CAMERA_FOV_SNIPER" value="15.000000" type="float" />
    <Attribute name="CAMERA_FOV_TACTICAL" value="25.000000" type="float" />
    <Attribute name="CAMERA_FOV_TACTICAL_MAX" value="40.000000" type="float" />
    <Attribute name="CAMERA_FOV_TACTICAL_MIN" value="10.000000" type="float" />
    <Attribute name="CAMERA_OFFSET_TACTICAL" value="2500.000000" type="float" />
    <Attribute name="CAMERA_SCROLL_SPEED" value="1.250000" type="float" />
    <Attribute name="CAMERA_SCROLL_STOPPING_TIME" value="0.100000" type="float" />
    <Attribute name="CAMERA_ZOOM_SOUND_VOLUME_MULTIPLIER" value="0.300000" type="float" />
    <Attribute name="CUTSCENE_CURSOR_FADE_IN_TIME" value="0.500000" type="float" />
    <Attribute name="CUTSCENE_CURSOR_FADE_OUT_TIME" value="0.500000" type="float" />
    <Attribute name="CUTSCENE_VIDEO_FADE_IN_TIME" value="0.500000" type="float" />
    <Attribute name="CUTSCENE_VIDEO_FADE_OUT_TIME" value="0.500000" type="float" />
    <Attribute name="DIFFICULTY_CURRENTDIFFICULTY" value="0" type="string" />
    <Attribute name="DIFFICULTY_EASY_AMMOMULTIPLIER" value="3.000000" type="float" />
    <Attribute name="DIFFICULTY_EASY_ATTRIBUTES_OVERWRITE" value="1.000000" type="float" />
    <Attribute name="DIFFICULTY_EASY_AUTOHEAL" value="1.000000" type="float" />
    <Attribute name="DIFFICULTY_EASY_AUTOHEAL_DELAY" value="1.000000" type="float" />
    <Attribute name="DIFFICULTY_EASY_END" value="0.000000" type="float" />
    <Attribute name="DIFFICULTY_EASY_IMPACTMULTIPLIER" value="1.500000" type="float" />
    <Attribute name="DIFFICULTY_EASY_START" value="0.000000" type="float" />
    <Attribute name="DIFFICULTY_EASY_UNCONSCIOUSMULTIPLIER" value="2.000000" type="float" />
    <Attribute name="DIFFICULTY_HARD_AMMOMULTIPLIER" value="1.000000" type="float" />
    <Attribute name="DIFFICULTY_HARD_ATTRIBUTES_OVERWRITE" value="0.000000" type="float" />
    <Attribute name="DIFFICULTY_HARD_AUTOHEAL" value="0.000000" type="float" />
    <Attribute name="DIFFICULTY_HARD_AUTOHEAL_DELAY" value="0.000000" type="float" />
    <Attribute name="DIFFICULTY_HARD_END" value="0.000000" type="float" />
    <Attribute name="DIFFICULTY_HARD_IMPACTMULTIPLIER" value="1.000000" type="float" />
    <Attribute name="DIFFICULTY_HARD_START" value="0.000000" type="float" />
    <Attribute name="DIFFICULTY_HARD_UNCONSCIOUSMULTIPLIER" value="1.000000" type="float" />
    <Attribute name="DIFFICULTY_MEDIUM_AMMOMULTIPLIER" value="1.500000" type="float" />
    <Attribute name="DIFFICULTY_MEDIUM_ATTRIBUTES_OVERWRITE" value="1.000000" type="float" />
    <Attribute name="DIFFICULTY_MEDIUM_AUTOHEAL" value="1.000000" type="float" />
    <Attribute name="DIFFICULTY_MEDIUM_AUTOHEAL_DELAY" value="1.000000" type="float" />
    <Attribute name="DIFFICULTY_MEDIUM_END" value="0.000000" type="float" />
    <Attribute name="DIFFICULTY_MEDIUM_IMPACTMULTIPLIER" value="1.250000" type="float" />
    <Attribute name="DIFFICULTY_MEDIUM_START" value="0.000000" type="float" />
    <Attribute name="DIFFICULTY_MEDIUM_UNCONSCIOUSMULTIPLIER" value="1.500000" type="float" />
    <Attribute name="ENGINE_ALPHA_THRESHOLD" value="0.100000" type="float" />
    <Attribute name="ENGINE_ANIMATION_COMPRESSION" value="0" type="slong" />
    <Attribute name="ENGINE_ANIMATION_MATRIX_RENORMALIZATION" value="1" type="string" />
    <Attribute name="ENGINE_ANIMATION_SPLINE_INTERPOLATION" value="1" type="string" />
    <Attribute name="ENGINE_BUFFER_DEPTH" value="24" type="slong" />
    <Attribute name="ENGINE_CLIP_DISTANCE_BUSH" value="3000.000000" type="float" />
    <Attribute name="ENGINE_CLIP_DISTANCE_BUSH_GROUP" value="3000.000000" type="float" />
    <Attribute name="ENGINE_CLIP_DISTANCE_GRASS" value="1500.000000" type="float" />
    <Attribute name="ENGINE_COLLISION_ACCURACY" value="3" type="slong" />
    <Attribute name="ENGINE_COLOR_DEPTH" value="32" type="slong" />
    <Attribute name="ENGINE_DEPTH_SHADOWS" value="2048" type="string" />
    <Attribute name="ENGINE_DYNAMIC_HEIGHTFIELD_LOD" value="1" type="slong" />
    <Attribute name="ENGINE_FULLSCREEN" value="1" type="slong" />
    <Attribute name="ENGINE_GAMMA" value="1.008500" type="float" />
    <Attribute name="ENGINE_GAMMA_MAX" value="2.300000" type="float" />
    <Attribute name="ENGINE_GAMMA_MIN" value="0.250000" type="float" />
    <Attribute name="ENGINE_HARDWARE_OCCLUSION" value="1" type="slong" />
    <Attribute name="ENGINE_HEIGHTFIELD_DETAIL" value="3" type="slong" />
    <Attribute name="ENGINE_LIGHT_EFFECTS" value="1" type="slong" />
    <Attribute name="ENGINE_LOD_THRESHOLD_1" value="0.450000" type="float" />
    <Attribute name="ENGINE_LOD_THRESHOLD_2" value="0.200000" type="float" />
    <Attribute name="ENGINE_MAX_STENCIL_SHADOWS_VOLUME_DISTANCE" value="300.000000" type="float" />
    <Attribute name="ENGINE_MODEL_LOD_BIAS" value="-30.000000" type="float" />
    <Attribute name="ENGINE_NORMALMAP_RENDERING" value="1" type="string" />
    <Attribute name="ENGINE_PARTICLES_ENABLED" value="1" type="slong" />
    <Attribute name="ENGINE_RESOLUTION_X" value="1920" type="string" />
    <Attribute name="ENGINE_RESOLUTION_Y" value="1080" type="string" />
    <Attribute name="ENGINE_STENCIL_SHADOWS" value="0" type="string" />
    <Attribute name="ENGINE_TEXTURE_LOD_BIAS" value="-0.200000" type="float" />
    <Attribute name="ENGINE_TEXTURE_RESOLUTION" value="1" type="string" />
    <Attribute name="ENGINE_WATER_REFLECTION" value="1" type="string" />
    <Attribute name="ENGINE_WATER_REFLECTION_ENTITIES" value="1" type="string" />
    <Attribute name="FONTS_DUMPALLBMPFONTS" value="0" type="slong" />
    <Attribute name="FONTS_FONTAAMETHOD" value="2" type="slong" />
    <Attribute name="FONTS_USEFILTERING" value="1" type="slong" />
    <Attribute name="FONTS_USELOCALEBMPFONTS" value="1" type="slong" />
    <Attribute name="FONT_LINE_LEVEL_LOADING" value="0.040000" type="float" />
    <Attribute name="FONT_NAME_CHARACTER_DISPLAY" value="Bernard MT Condensed" type="string" />
    <Attribute name="FONT_NAME_LEVEL_LOADING" value="Bernard MT Condensed" type="string" />
    <Attribute name="FONT_SIZE_CHARACTER_DISPLAY" value="0.030000" type="float" />
    <Attribute name="FONT_SIZE_LEVEL_LOADING" value="0.030000" type="float" />
    <Attribute name="FX_PARTICLES" value="3" type="string" />
    <Attribute name="HIGHLIGHT_ALL_CHARACTERS_FADE_TIME" value="0.250000" type="float" />
    <Attribute name="IO_DIRECTORY_SOUND" value="Data\Sound" type="string" />
    <Attribute name="IO_EXTENSION_SOUND" value=".wav" type="string" />
    <Attribute name="IO_VOLUME_SAMPLES" value="200" type="slong" />
    <Attribute name="MAP_MULTIPLIER" value="1.100000" type="float" />
    <Attribute name="MISC_CURENT_MISSION" value="1" type="slong" />
    <Attribute name="MISC_CURENT_SUBMISSION" value="0" type="slong" />
    <Attribute name="MISC_OUTRO" value="0" type="slong" />
    <Attribute name="MOUSE_INVERT" value="0" type="string" />
    <Attribute name="MOUSE_SPEED" value="50" type="string" />
    <Attribute name="NOISESHADOWBAR_FADEIN" value="0.350000" type="float" />
    <Attribute name="NOISESHADOWBAR_FADEOUT" value="0.350000" type="float" />
    <Attribute name="OPTIONS_ANIMATEDSHADOWS" value="0" type="slong" />
    <Attribute name="OPTIONS_AUDIORESPONSE" value="0" type="string" />
    <Attribute name="OPTIONS_CHARACTERQUALITY" value="0" type="slong" />
    <Attribute name="OPTIONS_DIFFICULTLEVEL" value="0" type="string" />
    <Attribute name="OPTIONS_INVERTMOUSE" value="0" type="string" />
    <Attribute name="OPTIONS_LIGHTFX" value="0" type="slong" />
    <Attribute name="OPTIONS_PARTICLES" value="0" type="slong" />
    <Attribute name="OPTIONS_SCREENRESOLUTION" value="2" type="slong" />
    <Attribute name="OPTIONS_SUBTITLES" value="0" type="string" />
    <Attribute name="OPTIONS_TEXTURERESOLUTION" value="1" type="slong" />
    <Attribute name="OPTIONS_WATERFX" value="0" type="slong" />
    <Attribute name="SCREENSHOT_DIRECTORY" value="Screenshots" type="string" />
    <Attribute name="SCREENSHOT_HIDE_GUI" value="1" type="slong" />
    <Attribute name="SCREENSHOT_X_SCALE" value="1.000000" type="float" />
    <Attribute name="SCREENSHOT_Y_SCALE" value="1.000000" type="float" />
    <Attribute name="SCREENS_ENDMISSION_MESSAGE_REASON_DELAY" value="0.000000" type="float" />
    <Attribute name="SCREENS_ENDMISSION_MISSION_END_SCREEN_LOST_DELAY" value="3.000000" type="float" />
    <Attribute name="SCREENS_ENDMISSION_MISSION_END_SCREEN_WON_DELAY" value="1.000000" type="float" />
    <Attribute name="SCREENS_ENDMISSION_ZOOM_TIME" value="15.000000" type="float" />
    <Attribute name="SCREENS_LOADING_FADE_IN_TIME" value="1.000000" type="float" />
    <Attribute name="SCREENS_LOADING_FADE_OUT_TIME" value="1.000000" type="float" />
    <Attribute name="SCREENS_MAXIMAP_MARKER_DISPLAY_DELAY" value="0.000000" type="float" />
    <Attribute name="SCREENS_MAXIMAP_MARKER_FADING_DELAY" value="0.400000" type="float" />
    <Attribute name="SCREENS_MAXIMAP_MARKER_SPEED" value="1.500000" type="float" />
    <Attribute name="SCREENS_TNTMARKER_TNT_GHOST_ARROW_DISTANCE" value="1.000000" type="float" />
    <Attribute name="SCREENS_VIDEOINTERFACE_ENABLED" value="0" type="slong" />
    <Attribute name="SCREENS_WINDROSE_BUTTONHIGHLIGHT_TIME" value="0.500000" type="float" />
    <Attribute name="SCREENS_WINDROSE_TEXT_ZOOM_TIME" value="0.250000" type="float" />
    <Attribute name="SIMULATION_EPSILON_ANGLE" value="0.100000" type="float" />
    <Attribute name="TOOLTIPS_DISPLAYDELAY" value="0.350000" type="float" />
</AttributeTable>
